/* style.css */

body {
  color: white;
  background-color: black;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

h1, h2 {
text-align: center;
  margin-bottom: 50px;
}

section {
  height: 100vh;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.info_sections {
  margin-bottom: 0px;
  margin-top: 20vh;
  height: 100vh;
  width: 100%;
}

.navbar-container {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transition: top 0.3s, opacity 0.3s;
  opacity: 0;
}

.navbar {
  color: white;
  display: flex;
  padding: 50px;
  justify-content: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.navbar-hidden {
  transform: translateY(-100%);
  opacity: 0;
}

.navbar-transition {
  opacity: 1;
  transform: translateY(0%);
}

.title-text {
  text-align: center;
}

.logo {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 75px;
  height: 75px;
}

.footer {
  padding: 20px;
  color: white;
  text-align: center;
}

.scroll-down-button {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.scroll-down-button a {
  display: block;
  width: 40px;
  height: 40px;
}

.scroll-down-button img {
  width: 100%;
  height: 100%;
}

.social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.social-media-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.social-media-item img {
  width: 20px;
  height: 20px;
  margin-right: 15px;
}

.social-media-item span {
  color: white;
  font-size: 14px;
  line-height: 30px;
}

.contact-content {
  background-color: aquamarine;
  margin-left: 15%;
  margin-right: 15%;


}

.contact-details {
  color: white;
  text-decoration: none;
  background-color: brown;
}

.contact-details a {
  color: white;
  text-decoration: none;
}